// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffbb00;
$color-secondary-dark: #ff7830;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5543fa;

$color-grey-light: #f7f7f7;
$color-grey-light2: #eee;

$color-grey-dark: #777;
$color-grey-dark2: #999;
$color-grey-dark3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
